USE [master]
GO
/****** Object:  Database [N12_DW]    Script Date: 4/23/2025 11:58:41 PM ******/
CREATE DATABASE [N12_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'N12_DW', FILENAME = N'D:\Kỳ 8\Data Warehouse & Data Mining\SSMS Proj\N12_DW.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'N12_DW_log', FILENAME = N'D:\Kỳ 8\Data Warehouse & Data Mining\SSMS Proj\N12_DW_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [N12_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [N12_DW]
GO
/****** Object:  User [NT SERVICE\MSOLAP$DWSERVER]    Script Date: 4/23/2025 11:58:41 PM ******/
CREATE USER [NT SERVICE\MSOLAP$DWSERVER] FOR LOGIN [NT SERVICE\MSOLAP$DWSERVER] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSOLAP$DWSERVER]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 4/23/2025 11:58:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[customerID] [nvarchar](20) NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dim_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Item]    Script Date: 4/23/2025 11:58:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Item](
	[itemID] [nvarchar](20) NOT NULL,
	[size] [nvarchar](10) NOT NULL,
	[weight] [float] NOT NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_Dim_Item] PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Store]    Script Date: 4/23/2025 11:58:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Store](
	[storeID] [nvarchar](20) NOT NULL,
	[cityID] [nvarchar](20) NOT NULL,
	[state] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Dim_Store] PRIMARY KEY CLUSTERED 
(
	[storeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 4/23/2025 11:58:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[fullDate] [date] NOT NULL,
	[month] [int] NOT NULL,
	[quarter] [int] NOT NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_Dim_Time] PRIMARY KEY CLUSTERED 
(
	[fullDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Inventory]    Script Date: 4/23/2025 11:58:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Inventory](
	[fullDate] [date] NOT NULL,
	[storeID] [nvarchar](20) NOT NULL,
	[itemID] [nvarchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Inventory] PRIMARY KEY CLUSTERED 
(
	[fullDate] ASC,
	[storeID] ASC,
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sale]    Script Date: 4/23/2025 11:58:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sale](
	[fullDate] [date] NOT NULL,
	[customerID] [nvarchar](20) NOT NULL,
	[itemID] [nvarchar](20) NOT NULL,
	[unitPrice] [money] NOT NULL,
	[amount] [int] NOT NULL,
	[totalPrice] [money] NOT NULL,
 CONSTRAINT [PK_Fact_Sale] PRIMARY KEY CLUSTERED 
(
	[fullDate] ASC,
	[customerID] ASC,
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Inventory_Dim_Item] FOREIGN KEY([itemID])
REFERENCES [dbo].[Dim_Item] ([itemID])
GO
ALTER TABLE [dbo].[Fact_Inventory] CHECK CONSTRAINT [FK_Fact_Inventory_Dim_Item]
GO
ALTER TABLE [dbo].[Fact_Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Inventory_Dim_Store] FOREIGN KEY([storeID])
REFERENCES [dbo].[Dim_Store] ([storeID])
GO
ALTER TABLE [dbo].[Fact_Inventory] CHECK CONSTRAINT [FK_Fact_Inventory_Dim_Store]
GO
ALTER TABLE [dbo].[Fact_Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Inventory_Dim_Time] FOREIGN KEY([fullDate])
REFERENCES [dbo].[Dim_Time] ([fullDate])
GO
ALTER TABLE [dbo].[Fact_Inventory] CHECK CONSTRAINT [FK_Fact_Inventory_Dim_Time]
GO
ALTER TABLE [dbo].[Fact_Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Dim_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Dim_Customer] ([customerID])
GO
ALTER TABLE [dbo].[Fact_Sale] CHECK CONSTRAINT [FK_Fact_Sale_Dim_Customer]
GO
ALTER TABLE [dbo].[Fact_Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Dim_Item] FOREIGN KEY([itemID])
REFERENCES [dbo].[Dim_Item] ([itemID])
GO
ALTER TABLE [dbo].[Fact_Sale] CHECK CONSTRAINT [FK_Fact_Sale_Dim_Item]
GO
ALTER TABLE [dbo].[Fact_Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Dim_Time] FOREIGN KEY([fullDate])
REFERENCES [dbo].[Dim_Time] ([fullDate])
GO
ALTER TABLE [dbo].[Fact_Sale] CHECK CONSTRAINT [FK_Fact_Sale_Dim_Time]
GO
USE [master]
GO
